# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Files that will always have LF/CRLF line endings on checkout.
*.sh text eol=lf
*.bat text eol=crlf
*.vcproj text eol=crlf

# Files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.exe binary
bin/** binary
*.sln binary
*.suo binary
*.vcxproj binary
www/proxy.pac binary
